<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/dd-admin/vendors/normalize-css/normalize.css" rel="stylesheet">
        <!-- Switchery -->
    <link href="/dd-admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h3><i class="fa fa-desktop"></i> Groups</h3>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<a class="btn-new"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
					</li>
        </ul>
        <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<p class="text-muted font-13 m-b-30"></p>
				<table id="groups" class="table" width="100%">
					<thead>
						<tr>
							<th></th>
							<th>Id</th>
							<th>Keycloak</th>
							<th>Moodle</th>
							<th>Nextcloud</th>
							<th>Name</th>
							<th>Path</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
    <script src="/dd-admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/dd-admin/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/dd-admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Desktops sse & modals -->
    <script src="/dd-admin/static/js/groups.js"></script>
{% endblock %}
